<ion-content [fullscreen]="true">
  <!-- Encabezado -->
  <div class="logo_duoc">
    <img src="../../../assets/images/logo_duoc.png" alt="">
  </div>
  <h2>Asignaturas que enseñas</h2>

  <!-- Tarjetas de asignaturas -->
  <div *ngFor="let asignatura of asignaturas" class="asignatura-card">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="ver_asignaturas(asignatura.id)">
          Ver Asistencia {{ asignatura.detalle }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Botón de volver -->
  <ion-button class="volver-btn" expand="full" (click)="volver()">
    Volver
  </ion-button>
</ion-content>
