<ion-content [fullscreen]="true">
  <div class="logo_duoc">
    <img src="../../../assets/images/logo_duoc.png" alt="">
  </div>

  <div class="bienvenido_alumno">
    <h3>Sitio de Administrador</h3>
  </div>

  <div class="botones">
    <ion-button  (click)="crear_alumno()">
      Crear Alumno
    </ion-button>
    <ion-button (click)="crear_profesor()">
      Crear Profesor
    </ion-button>
    <ion-button (click)="cerrar_sesion()" color="danger">
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>
