<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crud del Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Agregar -->
  <div style="padding: 10px;" *ngIf="sw2">
    <h2>Agregar Nuevo Profesor</h2>
    <ion-input [(ngModel)]="nuevo_profesor.nombre" label="Nombre" placeholder="Ingrese nombre"></ion-input>
    <ion-input [(ngModel)]="nuevo_profesor.apellido" label="Apellido" placeholder="Ingrese apellido"></ion-input>
    <ion-input [(ngModel)]="nuevo_profesor.email" label="Email" placeholder="Ingrese email"></ion-input>
    <ion-input [(ngModel)]="nuevo_profesor.contrasena" label="Contraseña" placeholder="Ingrese Contraseña"></ion-input>

    <ion-item>
      <ion-label>Asignaturas</ion-label>
      <ion-select multiple [(ngModel)]="nuevo_profesor.asignaturas">
        <ion-select-option *ngFor="let asignatura of (asignaturas$ | async)" [value]="asignatura.id">
          {{ asignatura.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="agregar_profesor()">Grabar</ion-button>
  </div>

  <!-- Modificar -->
  <div style="padding: 10px;" *ngIf="sw">
    <h2>Modificar Profesor</h2>
    <ion-input [(ngModel)]="profesor_mod.nombre" placeholder="Ingrese nombre"></ion-input>
    <ion-input [(ngModel)]="profesor_mod.apellido" placeholder="Ingrese apellido"></ion-input>
    <ion-input [(ngModel)]="profesor_mod.email" placeholder="Ingrese email"></ion-input>
    <ion-input [(ngModel)]="profesor_mod.contrasena" placeholder="Ingrese Contraseña"></ion-input>

    <ion-item>
      <ion-label>Asignaturas</ion-label>
      <ion-select multiple [(ngModel)]="profesor_mod.asignaturas">
        <ion-select-option *ngFor="let asignatura of asignaturas$ | async" [value]="asignatura.id">
          {{ asignatura.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button (click)="actualizar()">Actualizar</ion-button>
    <ion-button (click)="cancelar()">Cancelar</ion-button>
  </div>

  <!-- Listado -->
  <div style="padding: 10px;">
    <ion-grid>
      <ion-row *ngFor="let profesor of listado_profesor">
        <ion-col>{{ profesor.nombre }} {{ profesor.apellido }}</ion-col>
        <ion-col> 
          <ion-button (click)="eliminarProfesor(profesor.id)">Borrar</ion-button>
          <ion-button (click)="modificar(profesor)">Modificar</ion-button>
        </ion-col>        
      </ion-row>
    </ion-grid>
  </div>
  <ion-button (click)="volver()">Volver</ion-button>
</ion-content>