ion-content {
  --background: #f2f2f2; /* Fondo suave */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el contenido horizontalmente */
}

.logo_duoc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  padding: 0;
  margin-bottom: 10px;
}

.logo_duoc img {
  max-width: 250px;
  height: auto;
}

.asignaturas-list {
  margin-top: 30px;
  width: 100%; /* Asegura que la lista ocupe todo el ancho */

  ion-list-header {
      text-align: center;
      font-weight: bold;
      font-size: 1.5em; /* Aumenta el tamaño de la fuente */
      color: #3880ff;
      margin-bottom: 15px; /* Espacio debajo del encabezado */
  }
}

.asignatura-card {
  margin-bottom: 15px; /* Espacio entre tarjetas */
}

ion-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para las tarjetas */
  border-radius: 10px; /* Bordes redondeados */
  transition: transform 0.2s; /* Efecto de transición */
  
  &:hover {
      transform: scale(1.02); /* Efecto de aumento al pasar el mouse */
  }
}

ion-card-header {
  background-color: #3880ff; /* Color de cabecera */
  color: white;
  text-align: center;
  border-radius: 10px 10px 0 0; /* Bordes superiores redondeados */
}

.volver-btn {
  --background: #3880ff; /* Botón de volver en azul */
  --border-radius: 20px; /* Bordes del botón redondeados */
  margin-top: 20px; /* Espacio superior */
}
