<!-- reporteria.page.html -->
<ion-header>
  <div class="logo_duoc">
    <img src="../../../assets/images/logo_duoc.png" alt="">
  </div>
  <ion-toolbar>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>{{ asignatura.nombre }}</ion-label>
      <ion-button (click)="irAReporte(asignatura.id)">Ir a reporte</ion-button>
    </ion-item>
  </ion-list>
  <ion-button (click)="volver()">Volver a Home</ion-button>
</ion-content>
